
<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag('/products/add', method: :put) do %>
  <input type="text" name="product" value="">

  <input type="submit" id="add to cart" value="add to cart">
  render :index
<% end %>
