
<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag('/products/add', method: :post) do %>
  <input type="text" name="product" value="">

  <input type="submit" value="add to cart">

<% end %>
